@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Raleway:600,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/assets/images/interlaced.png");
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}