<li class="flex items-center py-4 whitespace-nowrap">
    <div class="text-md font-bold text-gray-900 font-display rounded-full h-16 w-16 flex items-center justify-center border-indigo-400 border-2">{{format-probability @score}}</div>
    <div class="ml-4">
        <div class="text-sm font-medium text-gray-900 font-display">{{@score}}</div>
        <div class="text-sm text-gray-500">This text is considered {{format-sentiment @score}}</div>
    </div>
</li>