<button
    role="button"
    type="button"
    class="items-center my-4 px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:border-green-700 active:bg-green-700 transition ease-in-out duration-150"
    {{on 'click' @onClick}}
>
    {{@title}}
</button>
