
<div class="grid grid-cols-2 gap-4 mt-8 mx-16">
    <Ui::Example-Link
        @route="image-classifier"
        @title="Static Image Classifier"
        @icon="svg/camera"
    />
    <Ui::Example-Link
        @route="head-movements"
        @title="Head Movement Classifier"
        @icon="svg/user"
    />
    <Ui::Example-Link
        @route="sentiment-analysis"
        @title="Text Sentiment Analysis"
        @icon="svg/book"
    />
    <Ui::Example-Link
        @route="main"
        @title="TBD"
        @icon="svg/hidden"
    />
</div>

