<nav class="flex items-center justify-between flex-wrap bg-indigo-800 p-6 w-full">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <LinkTo @route="main" class="font-display font-semibold text-xl tracking-wider">Practical Machine Learning in Javascript</LinkTo>
    </div>
</nav>